/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   srcalc custom styles
   ========================================================================== */
   
/* General srcalc styles */

body {
	margin: 1em;
}

/* Make the main content fixed-width. */
body > section {
	width: 1020px;
	/* Put a small margin on the bottom to avoid jamming up against the footer
	   (or anything else). */
	margin-bottom: 1em;
}

footer {
	padding-top: 0.5em;
	border-top: 1px solid #ccc;
}

.appInfo {
	font-size: 80%;
}

/* If Javascript is enabled, pre-hide all dialogs to avoid them flashing on the
   screen before jQuery UI initializes. */
.js .dialog {
	display: none;
}

/* General button styles */

/* Keep a standard height for all buttons on the application.
*/
button {
    height: 25px;
    border: 1px solid #888;
}

/* a.btn-link indicates an <a> that performs an action like a button. Think of
   it as a de-emphasized button. */
a.btn-link:link, a.btn-link:visited {
    color: #222;
    background-color: #ccc;
    display: inline-block;
    border: 1px solid #888;
    text-decoration: none;
    padding: 1px 6px;
}

a.btn-em:link {
    background: #CCCCCC;
    font-size: 1em;
}

/* A button that is an emphasized version of the normal button.
*/
button.button-em {
	background-color: #CCCCEE;
    font-weight: bold;
}

button.button-em:hover {
    background-color: #e3e3e3;
}
	
button.button-em:active {
    background-color: #CCC;
}

/* srcalcForm is the standard form appearance in srcalc */

/* Support fieldsets to group related attributes. */
form.srcalcForm fieldset {
	margin: 1em 0;
}

form.srcalcForm fieldset > legend {
	font-weight: bold;
	margin-bottom: 8px;
}

/* We use <ol>'s for the list of fields. */
form.srcalcForm fieldset > ol {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

/* Put some vertical spacing between the variables. */
form.srcalcForm fieldset > ol > li {
	margin: 5px 0;
}

form.srcalcForm label.radioLabel {
	padding-right: 1em;
}

form.srcalcForm .error {
	color: red;
}

/* .actionButtons indicates a gropup of buttons to perform actions on a page */

.actionButtons > ol {
	list-style-type: none;
	padding-left: 0;
}

.actionButtons > ol > li {
	display: inline;
	padding-right: 0.5em;
}

/* .srcalcTable is the standard basic table display in srcalc */

table.srcalcTable th {
	text-align: left;
	border-bottom: 2px solid #ccc;
}

/* Indicates a main column of the table, as opposed to minor columns such as
   an "edit item" link. */
table.srcalcTable th.main {
	/* Don't allow the columns to get too small. */
	min-width: 8em;
}

table.srcalcTable td {
	border-bottom: 1px solid #ccc;
}

/* Prevent columns from mashing up against each other. */
table.srcalcTable th, table.srcalcTable td {
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* But don't put left padding on the first columns */
table.srcalcTable th:first-child, table.srcalcTable td:first-child {
	padding-left: 0;
}

/* A .attributeEditForm is a form for editing attributes of some object. We
   display it in a 2-column format with the attribute name in the left column
   and the value controls in the right column.
   
   Note that we are using HTML tables for two reasons:
   1) We need to support IE7, which does _not_ support the tabular CSS display
      attributes.
   2) Even if we didn't have to support IE7, there is no support in CSS for
      column spanning for the group legends.
 */
 
form.attributeEditForm table {
	width: 100%;
}

form.attributeEditForm th.groupName {
	text-align: left;
	font-weight: bold;
	/* Put some space above and below the group name. I'd rather use margins
	   for this, but table cells don't support margins. */
	padding-top: 1em;
	padding-bottom: 0.2em;
}

form.attributeEditForm td.attributeName {
	/* Set a minimum width and a hint that the left column should be smaller. */
	width: 20%;
}

/* The Specialty & Patient */

.calculationSummary {
    list-style-type: none;
    padding-left: 0;
}

.calculationSummary label.variableName {
	display: inline-block;
	width: 20%;
}

#specialtyRadios {
    list-style-type: none;
    padding-left: 0;
}

/* The variable input form #riskVarForm */

.procedureSelectGroup th, .procedureSelectGroup td {
	/* Don't let the cells mash up against each other. */
	padding-left: 3px;
	padding-right: 3px;
}

.procedureSelectGroup td.selectRadio {
	text-align: center;
}

.procedureSelectGroup tr {
    border-bottom: 1px solid #ccc;
}

a.openProcedureSelect {
	font-size: 0.9em;
}

.loadingText {
	color: #aaa;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}