<configuration>

  <!-- TODO: we probably want to log to some other target when actually running
       in production. TBD later. -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>
  
  <!-- Change to debug if desired. -->
  <logger name="gov.va.med.srcalc" level="info"/>
  
  <!-- Set to DEBUG to show Hibernate-generated SQL. -->
  <logger name="org.hibernate.SQL" level="info" />

  <root level="info">
    <appender-ref ref="console" />
  </root>
</configuration>