<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/jee
       http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd">
       
    <!-- Define our DataSource (from JNDI). -->
    <jee:jndi-lookup id="srcalcDataSource" jndi-name="java:comp/env/jdbc/srcalcDB"/>
       
    <!-- Import the root (non-web-specific) srcalc beans. -->
    <import resource="classpath:/srcalc-context.xml"/>
       
    <!-- Import the controller beans. -->
    <import resource="classpath:/srcalc-controller.xml"/>

    <!-- *** Configure Spring Security. *** -->
    
    <security:http pattern="/admin/**">
        <security:form-login default-target-url="/admin" />
        <!-- See gov.va.med.srcalc.security.Roles for the available Roles. -->
        <security:intercept-url pattern="/**" access="ROLE_ADMIN" />
    </security:http>

    <!-- Use a WebAuthenticationDetailsSource to retrieve the client IP address when
         logging in. -->
    <bean id="webAuthDetailsSource"
        class="org.springframework.security.web.authentication.WebAuthenticationDetailsSource"
        />
    <security:http>
        <security:form-login default-target-url="/"
            authentication-details-source-ref="webAuthDetailsSource" />
        <security:session-management invalid-session-url="/sessionTimeout" />
        <security:logout logout-url="/logout" />

        <!-- All pages require one to be an authenticated user. -->
        <security:intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <!-- See gov.va.med.srcalc.security.Roles for the available Roles. -->
        <!-- Allow anonymous users to see the invalid session page otherwise
             they need to re-login, only to see that their session timed out. -->
        <security:intercept-url pattern="/sessionTimeout" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/js/**" access="ROLE_USER,ROLE_ADMIN"/>
        <security:intercept-url pattern="/**" access="ROLE_USER" />
    </security:http>
    
    <bean id="accessVerifyAuthProvider"
        class="gov.va.med.srcalc.security.AccessVerifyAuthenticationProvider" />
    <security:authentication-manager>
        <!--
        First, check an in-memory admin user store. Of course an in-memory user
        store is not appropriate for production, but in production this will be
        replaced with an authentication mechanism approved by VA OI&T.
        -->
        <security:authentication-provider>
            <security:user-service>
                <security:user name="adminone" password="Admin1" authorities="ROLE_ADMIN" />
                <security:user name="admintwo" password="Admin2" authorities="ROLE_ADMIN" />
            </security:user-service>
        </security:authentication-provider>
        <!-- If the user wasn't an admin, try access/verify code login. -->
        <security:authentication-provider ref="accessVerifyAuthProvider" />
    </security:authentication-manager>
    
    <bean id="vistaDaoFactory" class="gov.va.med.srcalc.security.VistaLinkVistaDaoFactory" />
    <!-- Provide a request-scoped VistaPatientDao that already knows the current
         user. -->
    <bean id="vistaPatientDao" scope="request"
        factory-bean="vistaDaoFactory" factory-method="getVistaPatientDao">
        <!-- Create a proxy for injection into singleton beans (e.g.,
             CalculationService). See <http://tinyurl.com/psgmdwe> -->
        <aop:scoped-proxy/>
    </bean>
    <!-- Same for VistaSurgeryDao. -->
    <bean id="vistaSurgeryDao" scope="request"
        factory-bean="vistaDaoFactory" factory-method="getVistaSurgeryDao">
        <aop:scoped-proxy/>
    </bean>

</beans>