<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>srcalc</display-name>
    
    <!-- Hook up the AppAttributesInitializer. See its Javadoc. -->
    <listener>
        <listener-class>gov.va.med.srcalc.web.AppAttributesInitializer</listener-class>
    </listener>

	<!-- Spring DispatcherServlet. Will load srcalc-servlet.xml. -->
	<servlet>
		<servlet-name>srcalc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- We only use a single WebApplicationContext for the whole application.
		     Don't try to load a servlet-specific context here. -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
        <multipart-config>
            <!-- 10 million bytes -->
            <max-file-size>10000000</max-file-size>
        </multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>srcalc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    
    <!-- Treat .csv files as text/csv to make IE download instead of displaying them. -->
    <mime-mapping>
        <extension>csv</extension>
        <mime-type>text/csv</mime-type>
    </mime-mapping>

	<!-- Creates the root WebApplicationContext from applicationContext.xml. -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	
    <!--
    Allow clients to cache any dynamically-generated reference data via ETags.
    Note that Spring automatically adds caching headers for most resources such
    as CSS (see srcalc-controller.xml) and the srcalc pages themselves should
    not be cached.
    -->
    <filter>
        <filter-name>etagFilter</filter-name>
        <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>etagFilter</filter-name>
        <url-pattern>/refdata/*</url-pattern>
    </filter-mapping>
    
    <!-- Show a user-friendly access denied page instead of an ugly one
         generated by the container. -->
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/accessDenied.jsp</location>
    </error-page>

	<!-- Declare that we depend on the jdbc/srcalcDB resource supplied by the
	     container. -->
	<resource-env-ref>
	   <resource-env-ref-name>jdbc/srcalcDB</resource-env-ref-name>
	   <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>

	<!-- Glassfish seems to require that we specify all JNDI resources here.
	     This doesn't support dynamic querying of the VistaLinkConnectionFactory
	     JNDI name, so we'll have to solve this later. -->
	<resource-env-ref>
	   <resource-env-ref-name>vlj/Asrc500</resource-env-ref-name>
	   <resource-env-ref-type>javax.resource.cci.ConnectionFactory</resource-env-ref-type>
	</resource-env-ref>

</web-app>